/* header */

.header {
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #b1191a;
}


/* registerarea */

.registerarea {
    margin-top: 10px;
    height: 520px;
    border: #cccccc 1px solid;
}

.registerarea_head {
    height: 40px;
    padding: 0 15px;
    background-color: #ececec;
    border-bottom: #cccccc 1px solid;
    line-height: 40px;
}

.registerarea_head h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.registerarea_head .login {
    float: right;
    font-size: 14px;
}

.registerarea_head .login a {
    color: #b1191a;
}


/* form */

form {
    margin-left: 50px;
}

.registerarea_body {
    width: 600px;
    margin: 50px auto;
}

form li {
    margin-bottom: 20px;
}

form li label {
    display: inline-block;
    width: 90px;
    margin-right: 30px;
    text-align: right;
}

form input {
    width: 242px;
    height: 37px;
    padding-left: 5px;
    border: 1px solid #cccccc;
    vertical-align: middle;
}

.agree {
    padding-left: 120px;
}

.agree a {
    color: #1ba1e6;
}

.agree input {
    width: auto;
    height: auto;
    margin-right: 5px;
}

.sub_button {
    width: 200px;
    height: 40px;
    background-color: #c81623;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 150px;
}


/* safe level */

.safelevel {
    margin-left: 140px;
}

.safelevel span {
    padding: 0 15px;
    color: #ffffff;
    background-color: rgb(209, 209, 209);
}

.safelevel .red {
    background-color: #de1111;
}

.safelevel .yellow {
    background-color: #f79100;
}

.safelevel .green {
    background-color: #40b83f;
}


/* icon */

form li i {
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    font-family: 'iconfont';
    font-size: 16px;
}

.error {
    color: #de1111;
}

.success {
    color: #40b83f;
}

@font-face {
    font-family: 'iconfont';
    /* project id 2383639 */
    src: url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.eot');
    src: url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.woff2') format('woff2'), url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.woff') format('woff'), url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.ttf') format('truetype'), url('//at.alicdn.com/t/font_2383639_bjnklhwtb9h.svg#iconfont') format('svg');
}